<p>Showing Report of <%= @date_params %> (Levels in mg/dl)</p>
<table> 
        <tr>
                <td> Maximum Level Recorded</td>
                <td> : <%= @daily_data.maximum(:level).to_i%></td>
        </tr>
        <tr>
                <td> Minimum Level Recorded</td>
                <td> : <%= @daily_data.minimum(:level).to_i%></td>
        </tr>
        <tr>
                <td> Average Level Recorded</td>
                <td> : <%= @daily_data.average(:level).to_f%></td>
        </tr>
        
</table>          
<br /> 
<%= link_to('Home', :action => 'create')%>
